@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

.card {
  max-width: 50%;
  margin: 10px;
  margin-left: 25%;
}

.form-select {
  max-width: 50%;
  margin: 10px;
  margin-left: 25%;
}

.form-control {
  max-width: 50%;
  margin: 10px;
  margin-left: 25%;
}